<footer>
  <div class="container">
    <p>Copyright &copy; 2024. All rights reserved.</p>
  </div>
</footer>

<style>
  footer {
    background-color: #f9fafb;
    padding: 2rem 1rem;
  }

  p {
    font-size: 14px;
    text-align: center;
    color: #6b7280;
  }

  @media (min-width: 640px) {
    footer {
      padding: 2.5rem 2rem;
    }
    p {
      text-align: end;
    }
  }
</style>
